html,
body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(150deg, #23234b, #1e0f27);
}

body #app-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body #app-container #title, body #app-container #description {
  text-align: center;
}

body footer {
  text-align: center;
}

#tooltip {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
